/* src/components/Card.css */
.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajustar la imagen para cubrir el cuadro */
  }
  
  .card-content {
    padding: 15px; /* Espaciado interior */
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 0 0 10px; /* Margen debajo del título */
    color: #333;
    font-weight: bold; /* Título en negrita */
  }
  
  .card-description {
    font-size: 1rem;
    margin: 0; /* Sin margen */
    color: #666; /* Color más claro para la descripción */
  }
  
  /* Tamaños personalizados */
  .card.small {
    width: 150px; /* Ancho para tamaño pequeño */
  }
  
  .card.medium {
    width: 250px; /* Ancho para tamaño mediano */
  }
  
  .card.large {
    width: 350px; /* Ancho para tamaño grande */
  }
  